
<section>
  <div class="container py-3">
    <div class="card">
      <h5 class="card-header">Note</h5>
      <div class="card-body">
        {{textarea class="form-control" rows="3" value=model.content maxlength=model.MAX}}
        <p class="card-text"><small class="text-muted">Nombre de caractère restant : {{model.size}}</small></p>
        <button class="btn btn-primary" {{ action "save" model }}>Enregistrer</button>
        <button class="btn btn-primary" {{ action "clear" model }}>Supprimer</button>
      </div>
      {{#if model.info}}
        <div class="{{model.style}}{{model.alertVisible}}">
          {{model.info}}
        </div>
      {{/if}}
    </div>
  </div>
</section>

{{outlet}}


